<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.salesrecord">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".forgotPassword"
            android:label="Forgot Password"/>
        <activity
            android:name=".PunchAttendance"
            android:label="Attendance"
            android:parentActivityName=".HomeEmployee" />
        <activity
            android:name=".ManageEmployee"
            android:label="Manage Employee Profile"
            android:parentActivityName=".HomeEmployee" />
        <activity
            android:name=".HomeEmployee"
            android:label="Employee Dashboard" /> <!-- Company Module -->
        <activity
            android:name=".DeactivateEmployee"
            android:label="Deactivate Employee"
            android:parentActivityName=".HomeCompany" />
        <activity
            android:name=".ViewCompReports"
            android:label="View Reports"
            android:parentActivityName=".HomeCompany" />
        <activity
            android:name=".RegisterEmployee"
            android:label="Register Employee"
            android:parentActivityName=".ManageEmployee" />
        <activity
            android:name=".ManageCompany"
            android:label="Manage Company"
            android:parentActivityName=".HomeSuperAdmin" />
        <activity
            android:name=".HomeCompany"
            android:label="Company Dashboard" /> <!-- Super Admin Module -->
        <activity
            android:name=".DeactivateCompany"
            android:label="Deactivate Company"
            android:parentActivityName=".HomeSuperAdmin" />
        <activity
            android:name=".RegisterCompany"
            android:label="Register Company"
            android:parentActivityName=".ManageCompany" />
        <activity
            android:name=".HomeSuperAdmin"
            android:label="Super Admin Dashboard" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SplashScreen.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.salesrecord.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashScreen.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>